*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: rgb(203, 159, 244);
    color: white;
}

header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: rgba(0, 17, 255, 0.854);
    font-weight: 800;
    cursor: pointer;
    transition: 0.55  ease;
}

.logo.hover {
    transform: scale(1.1);
}

nav a {
    font-size: 1.8rem;
    color: aqua;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
    color: blue;
    border-bottom: 3px solid rgba(128, 0, 255, 0.76);
}

@media(max-width:995px) {
    nav{
        position:absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid rgb(164, 89, 230);
        border-bottom: 3px solid rgba(0, 166, 255, 0.61);
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: azure;
        border top: 0.1rem solid azure;
    }


nav.active {
    display: block;
}

nav a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
}

nav a:hover,
nav a.active {
    padding: 1rem;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid blueviolet;
    }
}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: rgb(231, 127, 199);
}

.home .home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span {
    color:rgb(228, 82, 211)
}

.home-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-img {
    border-radius: 50%;
}

.home-img img {
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid blue;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover {
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid blueviolet;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}

.social-icons a:hover {
    color:black;
    transform: scale(1.3) translateY(-5px);
    background-color: blueviolet;
    box-shadow: 0 0 25px blue;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: rgb(224, 93, 227);
    border-radius: 4rem;
    font-size: 1.6rem;
    color:blueviolet;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid blue;
    transition: 0.3s ease;
    cursor: pointer;
    transform: scale(1.3) translateY(-5px);
}

.btn:hover {
    transform: scale3d(1.03);
    background-color: rgba(0, 149, 255, 0.603);
    color:blueviolet;
    box-shadow: 0 0 25px blue;
}

button {
    background-color: rgb(217, 43, 226);
    color: wheat;
    padding: 15px 32px;
    text-align: center;;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer
}

.typing_text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span {
    position: relative;
}

@keyframes cursor {
    to {
        border-left: 3px solid aqua;
    }
}

@media (max-width: 1000px) {
    .home {
        gap: 4rem;
    }
}

@media (max-width:995px) {
    .home {
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3 {
        font-size: 2.5rem;
    }

    .home-contenth1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vh;
        margin-top: 4rem;
    }


}

.about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: alternate-reverse;
    margin: 150px
}


.hobi {
    background-color: var(--main-color);
    justify-content: center;
    align-items: center;
}


.kotak {
    width: 300px;
    height: auto;
    background-color: grey;
    border: 2px solid black;
    border-radius: 0px
}


.kotak {
    width: 500px;
    height: 350px;
    background-color: grey;
    border: 2px solid black;
    border-radius: 50px;
}


.card {
    border: 1px solid rgb(255, 0, 200);
    padding: 20px;
    margin: 10px;
    width: 300px;
}


.card-content h2 {
    text-align: center;
}


.box-right {
    width: 300px;
    padding: 20px;
    border: 1px solid blueviolet;
    margin-left: 30px
}


.riwayat {
    background-color: brown;
    color:rgb(114, 144, 236);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(203, 159, 244);
    width: 500px;
}

.riwayat h2 {
    text-align: center;
}

.riwayat ul {
    list-style: none;
    padding: 0;
}

.timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}


.timeline-item {
    position: relative;
    padding: 10px 40px 10px 20px;
    border-bottom: 1px solid rgb(212, 104, 236);
}


.timeline-icon {
    position: absolute;
    top: 0;
    left: -20px;
    background-color: rgb(85, 149, 221);
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    border-radius: 50%;
}


.timeline-content h2 {
    margin: 0 0 5px 0;
}

.timeline-content p {
    margin: 0;
}


.skills-container {
    text-align: center;
}

.skills-section {
    margin: 20px
}


.skill {
    display: inline-block;
    text-align: left;
    margin: 10px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
}

.skill i {
    font-size: 24px;
    margin-right: 10px;
}


.contact-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(241, 104, 234);
    border-radius: 5px;
}


.input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2pxsollid grey;
    background: transparent;
    color:brown;
}


button {
    background-color: blueviolet;
    color:rgba(255, 0, 153, 0.591);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}